.homeBody {
    background-image: url(../assets/images/backgroundImg.png);
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(19, 18, 18);
}

.homePageTxt {
    color: white;
    margin-top: 150px;
}

.fas:hover {
    cursor: pointer;
}
