
html,body {
  height: 100%;
}

body {
  position: relative;
}

a {
  color: #ffffff;
}

.fab, .fas {
  margin-right: 10px;
}

.fas:hover {
  color: #4aaaa5;
  transition: .5s;
}

.fab:hover {
  cursor: pointer;
  color: #4aaaa5;
  transition: .5s;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding-top: 0 !important;
}