
html {
  position: relative;
  min-height: 100%;
}

.footerOfTheFooters {
  padding: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footerIcon {
  color: #ffffff;
}

.fab, .fas {
  margin-right: 10px;
}

.fas:hover {
  color: #4aaaa5;
  transition: .5s;
}

.fab:hover {
  cursor: pointer;
  color: #4aaaa5;
  transition: .5s;
}

